@import url("fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Axiforma";
}
body {
  max-width: 1920px;
  background: #e5e5e5;
}
header {
  /* background-color: yellowgreen; */
  width: 1130px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.exit_btn {
  width: 140px;
  height: 60px;
  margin-right: 50px;
  border-radius: 30px;
  background-color: #5a6067;
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 800;
  border-style: none;
  cursor: pointer;
}
.exit_btn:active {
  /* background-color: #fff; */
  color: #5a6067;
  background: #d4d2d2;
  box-shadow: 0px -10px 13px #ffffff, 0px 10px 13px #d2d8e1;
}
.menu-group {
  display: flex;
  align-items: center;
  border: none;
  /* background: #e5e5e5; */
  background: #dcdcdc;
  /* border: 1px solid red; */
  border-radius: 25px;
  height: 60px;
  padding-left: 14px;
  cursor: pointer;
}
.menu-group:active {
  background: #f5f5f5;
  box-shadow: 0px -10px 13px #ffffff, 0px 10px 13px #d2d8e1;
}
.menu-image {
  width: 35px;
  height: 22px;
  margin-right: 30px;
}
.menu-btn {
  font-size: 21px;
  /* font-weight: bold; */
  margin-right: 15px;
  color: #5a6067;
  text-transform: uppercase;
  cursor: pointer;
}
main {
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 150px;
}
main h1 {
  margin-bottom: 45px;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  font-weight: 800;
  color: #14663a;
}
main p {
  margin-bottom: 39px;
  color: #5a6067;
  font-size: 22px;
}
main p,
h1,
.demands {
  margin-left: 60px;
}
main p span {
  font-weight: bold;
  color: #14663a;
}
/* кнопки в main */
.demands {
  display: flex;
  margin-bottom: 50px;
}
.demands-btn,
.data-btn {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 25px 32px 20px;
  /* border-style: none; */
  border-radius: 50px;
  max-height: 80px;
  cursor: pointer;
}
.demands-btn {
  max-width: 334px;
  margin-right: 66px;
  background: #e2231a;
  color: #fff;
  border-style: none;
}
.demands-btn:active {
  background: #fff;
  color: #e2231a;
  /* border: 1px solid #e2231a; */
  background: #f5f5f5;
  box-shadow: 0px -10px 13px #ffffff, 0px 10px 13px #d2d8e1;
}
.data-btn {
  background: #f5f5f5;
  color: #e2231a;
  border-style: none;
  background: #f5f5f5;
  box-shadow: 0px -10px 13px #ffffff, 0px 10px 13px #d2d8e1;
}
.data-btn:active {
  background: #e2231a;
  color: #fff;
}
main .main_bolder {
  max-width: 810px;
  font-size: 22px;
  font-weight: 800;
  color: #5a6067;
}
/* секция каталога */
section {
  width: 100%;
  /* margin-left: 310px; */
  /* margin-right: 310px; */
}
/* шапка заявок */
.purchases-head {
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
  background-image: url(img/Vector.svg);
}
.purchases-head p {
  margin: 0;
  /* background-color: red; */
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  /* border: 1px solid black; */
}
/* карточки товаров */
.purchase-card {
  min-height: 186px;
  border-radius: 60px;
  margin-bottom: 16px;
  background: #fff;
  border: 3px solid #fff;
}
.purchase-card:hover {
  border: 3px solid red;
}
.win {
  background-color: red;
  border-radius: 30px 30px 30px 0;
}
.win p {
  width: 90px;
  height: 48px;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
}
.card-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-data p {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  padding: 30px;
}
.card-data-hidden {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 38px;
  border: 3px solid #fff;
  border-radius: 50px;
  background: #fff;
}
.card-data-hidden p {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  padding: 30px;
}
.card-data-hidden:hover {
  border: 3px solid red;
  cursor: pointer;
  /* margin: 3px; */
}
.card-status {
  font-size: 11px;
}

/* оформление полной карточки */
.card-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.card-details .wrap-card_img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.card-details .wrap-card_img img {
  margin-right: 50px;
}
.card-details button {
  height: 58px;
  padding: 0 24px;
  text-transform: uppercase;
  background: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0px -10px 13px #fafafa, 0px 3px 8px rgba(210, 216, 225, 0.7);
  vertical-align: middle;
  color: #e2231a;
  font-weight: bold;
  cursor: pointer;
}
.card-details button:active {
  background: #cacaca;
  box-shadow: 0px -10px 13px #c2c2c2, 0px 3px 8px rgba(210, 216, 225, 0.7);
}
.card-details-hidden {
  /* opacity: 0; */
  display: none;
}
.wrap-prize p {
  margin: 0;
  font-size: 11px;
}
.wrap-prize h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #e2231a;
}

/* футер основной части */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer button {
  width: 259px;
  height: 60px;
  font-size: 12px;
  background-color: #cac6c6;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #585a5c;
  font-weight: bold;
}
.main-footer button:active {
  background: #d4d2d2;
  box-shadow: 0px -10px 13px #ffffff, 0px 10px 13px #d2d8e1;
}
.main-footer ul li {
  display: inline-block;
  /* list-style: none; */
  font-size: 16px;
  /* margin-left: 10px; */
  width: 20px;
  height: 20px;
  text-align: center;
}
.main-footer ul li:hover {
  background-color: rgb(20, 226, 20);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.main-footer ul li a {
  text-decoration: none;
  color: rgba(38 38 39 / 70%);
}
/* footer */
footer {
  /* width: 100%; */
  height: 100%;
  background: #5c6167;
}
.footer-wrap {
  margin: 0 auto;
  max-width: 1130px;
  display: flex;
  flex-direction: column;
}
.footer-rules {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-rules p a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.footer-social {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 10px;
}
.footer-social a {
  display: block;
  max-height: 44px;
}
/* ======= */

/* Маленькая карточка товаров */
.purchase-card_small {
  padding: 15px;
  width: 290px;
  background-color: #fff;
}
.table-data {
  border: 1px solid black;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-data p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.card-details_small {
  /* display: flex; */
}
.card-details_img {
  display: flex;
  justify-content: space-around;
}
.card-sml_btns {
  display: flex;
  flex-direction: column;
}
.card-sml_btns button {
  width: 275px;
}
/* =========== */
/* АДАПТИВ 320PX */
@media (max-width: 321px) {
  header {
    max-width: 320px;
  }
  .exit_btn,
  .menu-btn {
    display: none;
  }
  main {
    width: 320px;
    /* margin: 0 10px 67px 10px; */
  }
  main .main_bolder {
    max-width: 320px;
    font-size: 15px;
    font-weight: 800;
    color: #5a6067;
  }
  main p {
    font-size: 12px;
    width: 310px;
  }
  main h1 {
    font-size: 24px;
  }
  main p,
  h1,
  .demands {
    margin-left: 20px;
  }
  .demands {
    display: flex;
    flex-direction: column;
  }
  .demands button {
    width: 200px;
    font-size: 14px;
    padding: 0px;
    border: 1px solid black;
  }
  /* нижняя часть секции main */
  .main-footer ul {
    display: none;
  }
  /* секция каталога, шапка */
  .purchases-head {
    display: none;
  }
  /* карточки для розыгрыша  */
  .small_hidden {
    display: none;
  }
  .purchase-card_small {
    max-width: 310px;
    border-radius: 60px;
    margin-bottom: 16px;
    background: #fff;
    border: 3px solid #fff;
  }
  .purchase-card_small p {
    font-size: 14px;
  }
  /* .table-data {
    max-width: 320px;
  } */
  .card-details_small {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }
  .card-details_small .wrap-card_img {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* margin-bottom: 20px; */
  }
  .card-details_small .wrap-card_img img {
    margin-right: 35px;
  }
  .card-details_small button {
    height: 58px;
    padding: 0 24px;
    text-transform: uppercase;
    background: #ffffff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px -10px 13px #fafafa, 0px 3px 8px rgba(210, 216, 225, 0.7);
    vertical-align: middle;
    color: #e2231a;
    font-weight: bold;
    cursor: pointer;
  }

  .purchase-card {
    display: none;
  }
  .card-data-hidden {
    height: 75px;
  }
  .purchase-card-hidden {
    width: 292px;
    /* height: 76px; */
  }
  .card-product_quantity,
  .card-numb_applictations,
  .card-draw_date {
    display: none;
  }
  /* Футер */
  /* Подпись в футере */
  .footer-rules {
    flex-direction: column;
    align-items: center;
  }
  .footer-rules p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
  }
  /* соц сети в футере */
  .footer-social {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer-social a {
    display: inline-block;
  }
}
